/* Animaciones 
 -------------------------------------*/
@keyframes small-mode {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
    filter: blur(6px);
  }

  50% {
    opacity: 0;
    filter: blur(4px);
  }
  90% {
    opacity: 0.5;
    filter: blur(1px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes alert {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
